<h1>All Blargs</h1>
<p><a href="/admin/blargs/new">Create a new Blarg</a></p>

<%@blargs.each do |blarg| %>
<h4><%= blarg.title %></h4>
<h5>Subject: <%= blarg.subject %></h5>
<p><%= blarg.text %></p>
<% end %>
