<h1>ACCESS TO ADMIN PORTAL DENIED!</h1>

<form method="POST" action="/admin/login">
  <p>Username: <input type="text", name= "username" /></p>
  <p>Password: <input type="text" name= "password"/></p>
  <input type="submit" name= "Submit" />
</form>