<h1>Add a new BLARG</h1>
<form method="POST" action="/admin/blargs/create">
  <p>Title: <input type="text", name= "title" /></p>
  <p>Text: <input type="text" placeholder= "Write something" name= "text" style="height:100px; width:600px;"  /></p>
  <p>Subject: <input type="text" name= "subject"/></p>
  <input type="submit" name= "submit" />
</form>