<h1>Add an Upcoming Gig</h1>
<form method="POST" action="/create">
  <p>Date: <input type="text", name= "date" /></p>
  <p>Band Name: <input type="text" name= "band_name"/></p>
  <p>Music Link: <input type="text" name= "music_link"/></p>
  <input type="submit" name= "submit" />
</form>