
<h1>Upcoming Gigs for <%= Time.now.year %></h1>
<% @gigs.order_soonest.each do |gig| %>
  <ul>
    <h4>Date: <%=gig.date.strftime('%m/%d/%Y') %></h4>
    <h4>Band: <%= gig.band_name %></h4>
    <h4>Music Link: <%= gig.music_link %></h4>
  </ul>
  <% end %>