
<head>
  <style media="screen">

    body {
      text-align: center;
      font-family: Futura;
      background-color: #fffaf0
      color: #000;
    }

    img {
      border: 10px solid #555;
    }

    .title {
      margin-bottom: 10;
      font-size:  50px;
      font-weight: bold;
    }

    p {
      font-weight: normal;
    }

    href {
      font-size: 1.1rem;
      border: 1px solid #fff;
    }

  </style>
</head>

<h4 class="title">Chris Hewitt</h4>
<img src="https://i.imgur.com/TQ099xm.jpg" alt="Ur boii" style="max-width: 836px; min-height: 0px; max-height: 403px;">


<p>is a percussionist and composer located in Denver, CO. </p>
<p>Chris is active in several musical circles in Colorado's Front Range,
   <br>including improvisational collective Le Secret, Gamelan Tunas Mekar,
    <br>and chamber group Witches and Science. Chris's playing and compositions
    <br>are informed by the jazz tradition, contemporary classical music, pop, rock,
    <br> and the music of Indonesia.</p>
  <h4><a href="/gigs"</a>Gigs</h4>
