


<p>Chris Hewitt is a percussionist and composer located in Denver, CO.
Chris is active in several musical circles in Colorado's Front Range, including improvisational collective Le Secret, Gamelan Tunas Mekar, and chamber group Witches and Science.
Chris's playing and compositions are informed by the jazz tradition, contemporary classical music, pop, rock, and the music of Indonesia.</p>
  <h4><a href="/gigs"</a>Gigs</h4>