body {
     font-family: Futura; sans-serif;
}
* {
   box-sizing: border-box;
}
.first {
   float: left;
   width: 25%;
   color: white;
   padding: 10px;
   height: 800px;
   text-align: center;
}
.second, .third, .fourth {
   float: left;
   width: 50%;
   color: white;
   padding: 50px;
   height: 800px;
   text-align: center;
}
.first {
   background-color: tomato;
}
.second {
   background-color: teal;
   padding-top: 70px;

}
.third {
   background-color: rgb(166, 71, 255);
}
.fourth {
   background-color: rgb(255, 71, 194);
}
.container:after {
   clear: both;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
