
body {
     font-family: Futura; sans-serif;
   }
h1 {
  font-size: 80px;
  text-align: left;
}
h4 {
  font-size: 50px;
  padding-top: 100px;
}
* {
   box-sizing: border-box;
}
p {
  text-align: left;
  font-style: italic;
}
.show {
  padding-top: -50px;
  color:white
}
.link {
  color:transparent;
}
a {
  text-decoration-style: none;
}
a:visited {
 text-decoration: none;
}

.first {
    color:transparent;
   float: left;
   width: 25%;
   padding: 10px;
   height: 800px;
   text-align: center;
   background-image: url("https://i.imgur.com/lKxI284.jpg?1");
   background-repeat: no-repeat;
}
.second {
  color:transparent;
  float: left;
  width: 25%;
  padding: 10px;
  height: 800px;
  text-align: center;
  background-image: url("https://i.imgur.com/aaeZxNO.jpg?4");
  background-repeat: no-repeat;
}
.third {
  color:transparent;
  float: left;
  width: 25%;
  padding: 10px;
  height: 800px;
  text-align: center;
  background-image: url("https://i.imgur.com/feA5Cj9.jpg?7");
  background-repeat: no-repeat;
}
 .fourth {
   color:transparent;
   float: left;
   width: 25%;
   padding: 10px;
   height: 800px;
   text-align: center;
   background-image: url("https://i.imgur.com/lVO7yTq.jpg?1");
   background-repeat: no-repeat;
}
.first:hover {
   opacity:0.75;
   color:white;
   background-image: url('https://i.imgur.com/z9LtFTI.png?1');
}
.second:hover {
   opacity:0.75;
   color:white;
   background-image: url('https://i.imgur.com/VoRnROe.png?2');

}
.third:hover {
   opacity:0.75;
   color:white;
   background-image: url('https://i.imgur.com/MSrDIpj.jpg?1');

}
.fourth:hover {
   opacity:0.75;
   color:white;
   background-image: url('https://i.imgur.com/zQ1OrtL.jpg');
}
.container:after {
   clear: both;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}



