
body {
     font-family: Futura; sans-serif;
     background-image: url("https://i.imgur.com/TQ099xm.jpg");
     background-repeat: no-repeat;
     background-size: cover;

   }
h1 {
  font-size: 80px;
  text-align: left;
}
h4 {
  font-size: 50px;
  padding-top: 100px;
}
* {
   box-sizing: border-box;
}
p {
  text-align: left;
  font-weight: bold;

  /* font-style: italic; */
}
.show {
  padding-top: -50px;
  color:white
}
.link {
  color:transparent;
}
a {
  text-decoration-style: none;
}
a:visited {
 text-decoration: none;
}

.first {
    color:transparent;
   float: left;
   width: 25%;
   padding: 10px;
   height: 800px;
   text-align: center;
}
.second {
  color:transparent;
  float: left;
  width: 25%;
  padding: 10px;
  height: 800px;
  text-align: center;
}
.third {
  color:transparent;
  float: left;
  width: 25%;
  padding: 10px;
  height: 800px;
  text-align: center;
  /* background-image: url("https://i.imgur.com/4rxcTr9.png?1");
  background-repeat: no-repeat; */
}
 .fourth {
   color:transparent;
   float: left;
   width: 25%;
   padding: 10px;
   height: 800px;
   text-align: center;
   /* background-image: url("https://i.imgur.com/lVO7yTq.jpg?1"); */
   /* background-repeat: no-repeat; */
}
.first:hover {
   opacity:0.9;
   color:white;
   background-image: url('https://i.imgur.com/z9LtFTI.png?1');
}
.second:hover {
   opacity:0.9;
   color:yellow;
   background-image: url('https://i.imgur.com/VoRnROe.png?2');

}
.third:hover {
   opacity:0.9;
   color:#FF00FF;
   background-image: url('https://i.imgur.com/4rxcTr9.png?1');

}
.fourth:hover {
   opacity:0.9;
   color:red;
   background-image: url('https://i.imgur.com/kTBnkFC.png?1');
}
.container:after {
   clear: both;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}



