<!DOCTYPE html>
<head>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>

<body>

<div class="container">
  <div class="first">
    <h1 style="color:white;"> Chris Hewitt</h1>
        <p> is a percussionist, composer and developer located in Denver, CO.
        Chris's playing and compositions
        are informed by the jazz tradition, contemporary Western art music,
        pop, rock,and the music of Indonesia. Chris is a graduate of
        the prestigious Colorado State University percussion studio,
        and is currently studying back end engineering at the
        Turing School of Software and Design.</p>
</div>

  <div class="second">
    <h4 style="color:white;"><a style="text-decoration:none; color:yellow;" href="/gigs">Music</a></h4>
  <p>I'm often presenting unusual music around Colorado. Click above to see my gig schedule
    and published recordings. Current playing with Space Force(jazz), Gamelan Tunas Mekar(Balinese Gamelan), and the Freshman Philosophy Majors(genre unknown).</p>
    <p>Booking or general qs: contact me at agop5134 at gmail.com.</p>
  </div>

  <div class="third">
    <h4 style="color:white;"><a style="text-decoration:none; color:#FF00FF;" href="/blargs">Blärg</a></h4>
      <div>
        <p> Rants about music, programming, taco bell. Click above(at your own risk).
          I'll start actually updating these when done with school</p>
      </div>
  </div>

  <div class="fourth">
    <h4 style="color:white;"><a style="text-decoration:none; color:springgreen;" href="/github">Github</a></h4>
      <p>Check out my code contributions, current projects, and all that jazz. Let's collaborate!</p>
  </div>
</div>
</body>
</html>






















