
<head>
  <style media="screen">

    #link_1 {
              display:inline-block;
              margin-right:20px;
              font-size: 1rem;
              }
    #link_2 {
            display:inline-block;
            margin-right:15px;
            font-size: 1rem;
            }
    #link_3 {
            display:inline-block;margin-right:20px;
            font-size: 1rem;
            }
    #link_4 {
            display:inline-block;margin-right:20px;
            font-size: 1rem;
            }
    #link_5 {
            display:inline-block;margin-right:30px;
            font-size: 1rem;
            }




    body {
      text-align: center;
      font-family: Futura;
      background-color: #fffaf0
      color: #000;
    }

    img {
      border: 10px solid #555;
    }

    .title {
      margin-top: 40;
      margin-bottom: 10;
      font-size:  50px;
      font-weight: bold;
    }

    p {
      font-weight: normal;
    }



  </style>
</head>

<h4 class="title">Chris Hewitt</h4>
<img src="https://i.imgur.com/TQ099xm.jpg" alt="Ur boii" style="max-width: 836px; min-height: 0px; max-height: 403px;">


<p style="font-weight: bold;">is a percussionist, composer and developer located in Denver, CO. </p>
<p style ="margin-bottom: 2;">Chris is active in several musical circles in Colorado's Front Range,
    <br>including improvisational collective Le Secret, Gamelan Tunas Mekar,
    <br>Space Force, the Freshman Philosophy Majors, Trio Cribonis, and
    <br>chamber group Witches and Science. Chris's playing and compositions
    <br>are informed by the jazz tradition, contemporary Western art music,
    <br>pop, rock,and the music of Indonesia. Chris is a graduate of
    <br>the prestigious Colorado State University percussion studio,
    <br>and is currently studying back end engineering at the
    <br>Turing School of Software and Design.</p>
<div id='link_1'>
  <h4><a href="/gigs" style="text-decoration: none;"</a>Gigs</h4>
</div>
<div id="link_2">
  <h4><a href="/bandcamp" style="text-decoration: none;"</a>Bandcamp</h4>
</div>
<div id='link_3'>
  <h4><a href="/github" style="text-decoration: none;"</a>Github</h4>
</div>
<div id='link_4'>
  <h4><a href="/blargs" style="text-decoration: none; color:#FF1493"</a>Blärg</h4>
</div>
<div id='link_5'>
  <h4><a href="/youtube" style="text-decoration: none;"</a>YouTube</h4>
</div>






